{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="testimonial-item text-center">
                    <img class="border rounded-circle p-2 mx-auto mb-3" src={{exps.img.url}} style="width: 80px; height: 80px;">
                    <h5 class="mb-0">{{exps.name}}</h5>
                    <p>{{exps.job}}</p>
                    <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">{{exps.bio}}</p>
                    </div>
                </div>
{% endblock content %}




















