{% extends 'base.html' %}
{% load static %}
{% block content %}
 <div class="col-lg-7 col-md-6">
    <div class="row g-3">
        <div class="col-lg-12 col-md-12 wow zoomIn" data-wow-delay="0.1s">
            <a class="position-relative d-block overflow-hidden" href="">
                <img class="img-fluid" src={{webs.img.url}} alt="">
                <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                    <h5 class="m-0">{{webs.name}}</h5>
                    <small class="text-primary">{{webs.bio}}</small>
                </div>
            </a>
        </div>
    </div>
 </div>
{% endblock content %}